<section [ngClass]="{'dark': isNight}" class="{{ isNight ? 'bg-gray-900' : 'bg-white' }} pt-10" >
    
    <div class="w-full items-center text-center pt-20 mx-auto lg:gap-8">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">We invest in the world’s potential</h1>
    </div>

    <div class="grid  max-w-screen-xl px-6 pt-10 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-2 lg:pt-15 dark:bg-gray-900">
<!-- <div class="flex items-center justify-center w-full lg:col-span-2 dark:bg-gray-900"></div> -->
        <!-- File Input -->
        
        <div class="items-center justify-center w-full lg:col-span-1 dark:bg-gray-900 text-center">
            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">File Input</p>
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                </div>
                <input 
                (change)="onFileSelected($event)" id="dropzone-file" type="file" class="hidden" />
            </label>
        </div> 
        <!-- User's files -->
        <div class="w-full lg:col-span-1 items-center text-center  mx-auto lg:gap-12  dark:text-white" *ngIf="fileItems.length == 0">
            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Your Files</p>
            
        </div>
    <div class="w-full lg:col-span-1 items-center text-center  mx-auto lg:gap-12  dark:text-white" *ngIf="fileItems.length > 0">
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">You have loaded:</p>
        <ul class="flex flex-col justify-center">
            <li *ngFor="let file of fileItems; index as i">
                <div class="flex flex-row ml-10  m-2 justify-start">
                    <img [src]="file.image" alt="Loaded Image" class="mr-2" style="max-width: 100px; max-height: 100px;">
                    {{file.filename}}
                    <button (click)="deleteItem(i)" color="warn" class="flex justify-center">
                        <mat-icon>delete_forever</mat-icon>
                      </button>
                </div>
              
            </li>
          </ul>
          <button type="button" (click)="uploadImage()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Load Images</button>
    </div>
    </div>
    
    

</section>