<section [ngClass]="{'dark': isNight}" class="{{ isNight ? 'bg-gray-900' : 'bg-white' }}">
    <div class=" dark:bg-gray-900 max-w-screen-xl px-4 pb-8 mx-auto lg:pb-24 lg:px-6 ">
        <h2 class="mb-6 text-3xl font-extrabold tracking-tight text-center text-gray-900 lg:mb-8 lg:text-3xl dark:text-white">Frequently asked questions</h2>
        <div class="max-w-screen-md mx-auto">
            <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900  dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                <h3 id="accordion-flush-heading-1">
                    <button type="button" (click)="toggleAccordion(0)" class="flex items-center justify-between w-full py-5 font-medium text-left  bg-white border-b border-gray-200  dark:border-gray-700 dark:bg-gray-900 dark:text-white" data-accordion-target="#accordion-flush-body-1"  aria-controls="accordion-flush-body-1">
                        <span>What is your service about?</span>
                        <svg data-accordion-icon="" [ngClass]="{'rotate-180': accordionItems[0].isOpen}" class="w-6 h-6  shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </h3>
                <div [ngClass]="{'hidden': !accordionItems[0].isOpen}" id="accordion-flush-body-1" class="" aria-labelledby="accordion-flush-heading-1">
                    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                        <p class="mb-2 text-gray-500 dark:text-gray-400">Our service provides a platform for users to access a variety of innovative solutions and technologies. We focus on delivering high-quality services to meet your specific needs.</p>
                    </div>
                </div>
                <h3 id="accordion-flush-heading-2">
                    <button type="button" (click)="toggleAccordion(1)" class="flex items-center justify-between w-full py-5 font-medium text-left border-b border-gray-200 dark:border-gray-700 dark:text-white" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                        <span>How do I get started?</span>
                        <svg data-accordion-icon="" [ngClass]="{'rotate-180': accordionItems[1].isOpen}" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </h3>
                <div id="accordion-flush-body-2"  [ngClass]="{'hidden': !accordionItems[1].isOpen}" aria-labelledby="accordion-flush-heading-2">
                    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                        <p class="mb-2 text-gray-500 dark:text-gray-400">To get started, simply visit our website and sign up for an account. Once registered, you can explore the features and services we offer.</p>
                    </div>
                </div>
                <h3 id="accordion-flush-heading-3">
                    <button type="button" (click)="toggleAccordion(2)" class="flex items-center justify-between w-full py-5 font-medium text-left  border-b border-gray-200 dark:border-gray-700 dark:text-white" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                        <span>Is my data secure?</span>
                        <svg data-accordion-icon="" [ngClass]="{'rotate-180': accordionItems[2].isOpen}" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </h3>
                <div id="accordion-flush-body-3" [ngClass]="{'hidden': !accordionItems[2].isOpen}" aria-labelledby="accordion-flush-heading-3">
                    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                        <p class="mb-2 text-gray-500 dark:text-gray-400">Yes, we prioritize the security and privacy of your data. Our platform employs robust encryption measures to ensure the confidentiality of your information.</p>
                    </div>
                </div>
                <h3 id="accordion-flush-heading-4">
                    <button type="button" (click)="toggleAccordion(3)" class="flex items-center justify-between w-full py-5 font-medium text-left  border-b border-gray-200 dark:border-gray-700 dark:text-white" data-accordion-target="#accordion-flush-body-4" aria-expanded="false" aria-controls="accordion-flush-body-4">
                        <span>Can I trust the results of the neural network classification?</span>
                        <svg data-accordion-icon="" [ngClass]="{'rotate-180': accordionItems[3].isOpen}" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </h3>
                <div id="accordion-flush-body-4" [ngClass]="{'hidden': !accordionItems[3].isOpen}" aria-labelledby="accordion-flush-heading-4">
                    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                        <p class="mb-2 text-gray-500 dark:text-gray-400">Our neural network is trained on vast datasets to provide accurate classifications. However, keep in mind that no system is perfect. We continuously update and improve our algorithms to enhance performance.</p>
                    </div>
                </div>
            </div> 
        </div>               
    </div>
</section>